# Ignore
.history
.vscode
*.rar
*.zip
logs/
*BK*
*Copy*
images/
vendor
*.gif
*.png
*.jpg
*.csv
*.svg
*.sql
*.html
*.pdf
*.xlsx
*.exe
*.jar

# autoload
php-webdriver/*
!php-webdriver/
php-webdriver/*
!php-webdriver/php-mvc-master/
